div.col {
  vertical-align: top;
  display: inline-block;
}

.itemDiv {
  display: block;
  margin-top:16px;
}

.itemLabel {
  display: inline-block;
  width: 60px;
}

select {
  margin-left:4px;
  margin-right:6px;
}

.invalid {
  box-shadow: 1px 1px 4px #f20, -1px -1px 4px #f20;
}

.error {
  color: red;
}

.hide {
  display: none;
}

.delayForHideCursor {
  width: 50px;
}
